:root {
	font-family: 'Homemade Apple', cursive;
}

.container {
	width: 100vw;
	height: 100vh;
	position: relative;
}

.map-wrapper {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: grid;
	grid-template: 20px auto / 80% 20%;
}

.esri-scene {
	grid-row: 1 / 3;
}
